* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: Arial, sans-serif;
    background-color: #e7e1e1;
    max-width: 900px;    /* esse e o de baixo é pra centraluizar a tela*/
    margin: 0 auto;      
    padding: 20px;
}


header {
    background-color: #386dbb;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ffffff;
    color: white;
    border-radius: 30px;
}

nav {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 16px;
}

button {
    padding: 10px 24px;
    background-color: #80a6e2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

button:hover {
    background-color: #3a5fa0;
}

/* ---- DUAS COLUNAS ---- */
main {
    display: flex;        /* deix aos dois lado a lado*/
    gap: 20px;
    align-items: flex-start;
}

aside {
    width: 30%;          
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#coluna-direita {
    width: 70%;         
    display: flex;
    flex-direction: column;
    gap: 16px;
}


section {
    background-color: #386dbb;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    color: white;
}

section h2 {
    margin-bottom: 12px;
    font-size: 18px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 6px;
}


#foto {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}


#sec-dados p {
    margin-bottom: 8px;
    font-size: 14px;
}

#sec-dados a {
    color: #1e0cc5;
}


#conhecimentos {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

#conhecimentos li {
    background-color: #63329c;
    color: white;
    padding: 4px 12px;
    font-size: 13px;
}

.item {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
    line-height: 1.6;
}

.item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}



@media (max-width: 600px) {
    main {
        flex-direction: column;  /* pra deixar emppilhado no cell*/
    }

    aside, #coluna-direita {
        width: 100%;
    }
}
